<style>  
    /* 全局样式 */  
    body {  
        margin: 0;  
        padding: 0;  
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }  
  
    /* 头部样式 */  
    header {  
        text-align: center;  
        padding: 20px;  
    }  
  
    header img {  
        width: 300px;  
        height: auto;  
    }  
  
    /* 正文样式 */  
    main {  
        background-color: #ffffff; /* 灰色背景 */  
        border-radius: 5px; /* 圆角 */  
        padding: 15px 110px 10px 110px;  
        max-width: 1100px; /* 最大宽度 */  
        margin: 0 auto; /* 水平居中 */  
        box-sizing: border-box; /* 包含padding和border在内 */
		color: #24292e;
		font-size: 16px;
		font-weight: bold; /* 设置文本为粗体 */
		line-height: 1.6;
		word-wrap: break-word;
    }

	@media screen and (max-width: 700px) {  
		main {  
			padding: 10px 6px 10px 6px; /* 设置为 1px 1px 1px 1px */  
		}  
	}	
  
    /* 页脚样式 */  
    footer {
		color: #9aa6c2;
        bottom: 0;  
        width: 100%;  
        text-align: center;  
        padding-top: 10px;
    }  
  
    /* 使 main 部分始终在 footer 上方 */  
    body {
		background-color: #f6f8f9;
        display: flex;  
        flex-direction: column;  
        min-height: 100vh;  
        margin-bottom: -50px; /* footer 的高度 */  
        padding-bottom: 50px; /* footer 的高度 */  
        box-sizing: border-box; /* 包含 padding */  
    }  
  
    /* 其他元素可能需要一些额外的样式来防止与页脚重叠 */  
    main::after {  
        content: "";  
        display: block;  
        height: 50px; /* footer 的高度 */  
    }
	
	/* 未被访问的链接 */  
a:link {  
    color: blue;  
}  
  
/* 用户已访问的链接 */  
a:visited {  
    color: blue; /* 你可以设置为其他颜色，但这里我们仍然使用蓝色 */  
}  
  
/* 鼠标悬停在链接上 */  
a:hover {  
    color: darkblue; /* 这里我使用了深蓝色作为示例，你可以根据需要调整 */  
}  
  
/* 被选中的链接（例如，点击一个标签页后） */  
a:active {  
    color: blue; /* 你也可以设置为其他颜色，但这里我们仍然使用蓝色 */  
}
</style> 